body, html {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(75, 51, 51);
    color: #ddd;
    font-family: 'Outfit', sans-serif;
}

.celular {
    margin-bottom: -350px;
    width: 240px;
    height: 432px;
}

.box {
    padding: 20px;
    max-height: 372px;
    max-width: 170px;
    background-color: #333;
    margin-right: 6px;
    margin-top: -12px;
    border-radius: 22px;
}

.cam {
    margin-top: -80px;
    max-width: 100px;
    z-index: 1;
}

#img_player {
    width: 150px;
    height: 195px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.descricao {
    width: 200px;
    font-size: 12px;
}

h2 {
    margin-bottom: 5px;
}

.duracao {
    width: 200px;
    margin-top: 25px;
}

.barra {
    width: 170px;
    height: 6px;
    border: 1px solid #eee;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

progress {
    width: 0%;
    height: 6px;
    background-color: #333;
}

.ponto {
    width: 15px;
    height: 15px;
    border-radius: 360px;
    background-color: #eee;
    margin-left: -2px;
}

.tempo {
    display: flex;
    width: 173px;
    justify-content: space-between;
    font-size: 12px;
}

.player {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -13px;
}

.tamanho {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.tamanho.seta{
    width: 25px;
    height: 25px;
}

.btn-pause {
    display: none;
}